.app {
 // margin: 1rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  //background-color: #f2f5f4;
}
.main {
  margin-top: 10%;

  padding: 10px;
  height: 750px;
  width: 100%;
 
  
}





