@import "../../assets/variables";
.app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
}
.main {
  margin-top: 5%;
  //padding: 10px;
  height: 750px;
  width: 100%; 
}
.commerce-bubbles{
  height: 120px;
  width: 600px;
}
.MuiPaper-root.MuiDialog-paper{
  min-height: 600px;
  min-width: 700px;
}
.close-icon{
  float: right !important;
}
.add-btn{
  background-color: $secondaryGreen !important;
  color: white !important;
  margin-top: 0.5% !important;
  margin-right: 10% !important;
  float:right;
}
.trans-fields{
  text-align: center;
  display: block;
}
.field{
  min-width: 200px !important;
  margin-left: 15px !important;
  margin-top: 20px !important;
}
.notification-rules{
  margin-top: 20px !important;
}
.notify-checks{
 // display: inline-block !important;
}