@import "../../assets/variables";

.header{
   // background-color: $primaryGreen !important;
    z-index: 1201 !important;
}
.logo{
    width: 300px;
    margin-right: 20px;
}
.MuiAppBar-colorPrimary{
    background-color: white !important;
}