@import "../../assets/variables";

.header{
   // background-color: $primaryGreen !important;
    z-index: 1201 !important;
}
.logo{
    width: 300px;
    margin-right: 20px;
}
.MuiAppBar-colorPrimary{
    background-color: white !important;
}
.notification-btn{
    margin-left: 55% !important;
    width: 200px;
    height: 50px;
}
.bell{
    margin-right: 5% !important;
}
.MuiSvgIcon-colorPrimary{
    color: $primaryGreen !important;
}
.MuiSvgIcon-colorSecondary{
    color: $secondaryGreen !important;
}